html {
    scroll-behavior: smooth;
}

body {
    color: #161616;
}

a {
    color: #161616;
}

element.virtually-hidden {
    display: none;
}

element.card-category {
    color: #D73953;
}

element.section-tagline {
    color: #D73953;
}